:root {
    --Tweet-color-emphasis: #1DA1F2;
}

.navbar {
    background-color: var(--Tweet-color-emphasis);
    color: white;
}

.navbar-brand {
    margin-right: 1ch;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
}

.vertical-and-horiz-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}
