.navbar {
    background-color: #1DA1F2;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
}

.vertical-and-horiz-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.navbar-brand {
    color: white;
}
