:root {
    --Tweet-border-color: 1px solid lightgrey;
}

.Tweet {
    min-height: 150px;
    padding: 10px 15px 40px;
    display: flex;
    overflow: hidden;
    position: relative;
}

.Tweet-profile {
    margin-top: 5px;
    margin-right: 15px;
    width: 50px;
    flex-shrink: 0;
}

.Tweet-profile img {
    border: 1px solid gainsboro;
}

.Tweet-content {
    vertical-align: text-top;
}

.Tweet-heading-main {
    font-weight: bold;
}

.Tweet-heading-other {
    color: grey;
}

.Tweet-statistic {
    display: inline-block;
    color: grey;
    margin-right: 20px;
}

.Tweet-heading-condensed-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.Tweet-heading-condensed-icon {
    margin-right: 5px;
    height: 20px;
    width: 20px;
    border-radius: 999px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 0 2px 0 inset;
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.Tweet-heading-condensed-display-name {
    margin-right: 5px;
}

.Tweet-retweet-wrapper {
    border: 1px solid rgb(215, 223, 229);
    border-radius: 10px;
    margin: 15px 0;
    padding: 10px;
}

.Tweet-left-vertical-line {
    width: 40px;
    height: 100%;
    border-right: 2px solid rgb(204, 214, 221);
    position: absolute;
    left: 0;
    top: 80px;
}

.Tweet-extended {
    display: flex;
    flex-direction: column;
}

.Tweet-bottom-border {
    border-bottom: var(--Tweet-border-color);
}

.Tweet-side-borders {
    border-left: var(--Tweet-border-color);
    border-right: var(--Tweet-border-color);
}

.Tweet-retweet-header-wrapper {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    color: grey;
    margin-top: 10px;
}

.Tweet-retweet-header-icon {
    width: 50px;
    margin-right: 15px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Tweet-retweet-header-text {
    display: flex;
    align-items: center;
}
