.TweetView-settings {
    border: 1px solid lightgray;
    display: block;
    padding: 5px 15px;
    max-width: 300px;

    position: sticky;
}

.TweetView-tweet-col {
    max-width: 600px;
    padding: 0;
}

.TweetView-no-tweets-alert {
    margin-top: 50px;
    text-align: center;
}
