.TweetView-tweets-wrapper {
    max-width: 600px;
    padding: 0;
    border-left: 1px solid var(--Tweet-border-color);
    border-right: 1px solid var(--Tweet-border-color);
}

.TweetView-settings-wrapper {
    position: sticky;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.TweetView-settings {
    position: sticky;
    border: 1px solid var(--Tweet-border-color);
    padding: 15px;
    padding-top: 10px;
    flex-grow: 1;
    background-color: azure;
}

.TweetView-manual-condition-chooser {
    position: sticky;
    background-color: whitesmoke;
    z-index: 1;
    padding: 5px;
    border-bottom: 1px solid var(--Tweet-border-color);
    text-align: center;
    font-size: small;
}

@media (max-width: 642px) {
    .TweetView-tweets-wrapper {
        order: 2;
        border: 0;
    }

    .TweetView-settings-wrapper {
        order: 1;
        padding: 0;

        /* The next three values override Bootstrap's .col-sm-5 values which restrict the element's size. */
        flex-grow: 1;
        flex-basis: 100%;
        max-width: 100%;
    }

    .TweetView-settings {
        border: 0; /* Overrides border, padding, max-width */
        border-bottom: 1px solid var(--Tweet-border-color);
        padding-top: 10px;
        padding-bottom: 10px;
        max-width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .TweetView-settings-header {
        margin-right: 25px;
    }

    .TweetView-settings-content {
        flex-grow: 1;
    }
}
