.TweetView-intermediate-wrapper {
    display: flex;
}

.TweetView-tweets-wrapper {
    min-width: 50vw;
    padding: 0;
    border-left: 1px solid var(--Tweet-border-color);
    border-right: 1px solid var(--Tweet-border-color);
}

.TweetView-settings-wrapper {
    position: sticky;
    background-color: white;
    min-width: 30vw;
}

.TweetView-settings {
    position: sticky;
    border: 1px solid var(--Tweet-border-color);
    padding: 5px 15px;
}

.TweetView-manual-condition-chooser {
    position: sticky;
    background-color: whitesmoke;
    z-index: 1;
    padding: 5px;
    border-bottom: 1px solid var(--Tweet-border-color);
    text-align: center;
    font-size: small;
}

@media (max-width: 642px) {
    .TweetView-intermediate-wrapper {
        flex-direction: column-reverse;
    }

    .TweetView-tweets-wrapper {
        /* order: 2; */
        border: 0;
        width: 100vw;
        flex-basis: auto;
    }

    .TweetView-settings-wrapper {
        /* order: 1; */
        padding: 0;
        top: 0 !important;

        /* The next three values override Bootstrap's .col-sm-5 values which restrict the element's size. */
        flex-grow: 1;
        flex-basis: auto;
        width: 100vw;
    }

    .TweetView-settings {
        border: 0; /* Overrides border, padding, max-width */
        border-bottom: 1px solid var(--Tweet-border-color);
        padding-top: 10px;
        padding-bottom: 10px;
        max-width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .TweetView-settings-header {
        margin-right: 25px;
    }

    .TweetView-settings-content {
        flex-grow: 1;
    }
}
