:root {
    --Tweet-border-color: rgb(215, 223, 229);
    --Tweet-profile-width: 50px;
    --Tweet-profile-top-margin: 5px;
    --Tweet-profile-right-margin: 10px;
    --Tweet-profile-height: calc(var(--Tweet-profile-width) + var(--Tweet-profile-top-margin));
    --Tweet-margin-top: 10px;
    --Tweet-padding-bottom: 10px;
}

.Tweet-outer {
    display: flex;
    flex-direction: column;
    margin-top: var(--Tweet-margin-top);
    padding-left: 15px;
    padding-right: 15px;
}

.Tweet-bottom-border {
    border-bottom: 1px solid var(--Tweet-border-color);
}

.Tweet-inner {
    display: flex;
    position: relative;
    min-height: 120px;
    padding-bottom: var(--Tweet-padding-bottom);
}

.Tweet-inner-thread-minimized {
    min-height: 0;
    padding-bottom: calc(var(--Tweet-padding-bottom) / 2);
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.Tweet-vertical-spaced-children > * { /* Adds margin-top to every direct child. */
    margin-top: 1em;
}

.Tweet-profile {
    margin-top: var(--Tweet-profile-top-margin);
    margin-right: var(--Tweet-profile-right-margin);
    width: var(--Tweet-profile-width);
    flex-shrink: 0;
}

.Tweet-profile-thread-minimized {
    width: calc(var(--Tweet-profile-width) * 3 / 4);
    margin-left: calc(var(--Tweet-profile-width) / 8);
}

.Tweet-content {
    width: 100%;
}

.Tweet-thread-indicator {
    width: calc(var(--Tweet-profile-width) * 0.5 + 1px);
    height: calc(100% - var(--Tweet-profile-height) + var(--Tweet-margin-top) - 5px);
    border-right: 2px solid var(--Tweet-border-color);
    position: absolute;
    top: calc(var(--Tweet-profile-height) + 5px);
    left: 0;
    z-index: -1;
}

.Tweet-profile img {
    border: 1px solid gainsboro;
}

.Tweet-heading {
    display: flex;
    align-items: center;
}

.Tweet-heading img {
    margin-right: 5px;
    height: 20px;
    width: 20px;
    border-radius: 999px;
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.Tweet-heading-author {
    font-weight: bold;
    margin-right: 5px;
}

.Tweet-heading-screen-name {
    color: grey;
}

.Tweet-statistic {
    display: inline-block;
    color: grey;
    margin-right: 20px;
}

.Tweet-retweet-indicator {
    display: flex;
    font-size: smaller;
    color: grey;
}

.Tweet-retweet-indicator-icon {
    width: var(--Tweet-profile-width);
    margin-right: var(--Tweet-profile-right-margin);
    text-align: right;
}

.Tweet-inner-tweet {
    border: 1px solid var(--Tweet-border-color);
    border-radius: 10px;
    padding: 10px;
}
