.SliderContainer-main-label {
    font-weight: bold;
    display: block;
    margin: 0;
}

.SliderContainer-instructions {
    margin-bottom: 0.5rem;
    font-style: italic;
    font-size: small;
}

.SliderContainer-labeled-track {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SliderContainer-low-label {
    text-align: start;
    margin-inline-end: 5px;
    font-size: small;
}

.SliderContainer-high-label {
    text-align: end;
    margin-inline-start: 5px;
    font-size: small;
}

.SliderContainer-disabled {
    color: rgba(0, 0, 0, 0.3);
}
